<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабаскина София, Переладова Алёна. {{numberlaba}}</title>
</head>
<body>
    <header>
        НГТУ, ФБ, {{numberlaba}}
    </header>
    <main>Основной контент</main>
    <div>11*28={{11*28}}</div>
    <div>8452/793={{8452/793}}</div>
    <div>45**8={{45**8}}</div>
    <footer>
        &copy; {{name}}, ФБИ-12, 3 курс, 2023
    </footer>
</body>
</html>